<script setup lang="ts">
import NumberButon from '@/components/NumberButton.vue';
import { ref } from 'vue'
const num1 = ref(0)
function num1Click(num: number) {
  console.log('Num1 Click' + num)
  num1.value = num
}
</script>

<template>
  <div style="text-align: center; "><img style="width: 300px; border-radius: 50%;" src="../assets/me.jpg" alt="">
    <h3> สวัสดีชาวโลก ! ! !</h3>
    {{ num1 }}<NumberButon :num="1" @numClick="num1Click"></NumberButon>
    <NumberButon :num="2"></NumberButon>
    <NumberButon :num="3" :inc="5"></NumberButon>
  </div>
  
</template>
